@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .transition-smooth {
    @apply transition-all duration-300 ease-in-out;
  }
}

.page-transition-enter {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 300ms, transform 300ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

#transition-overlay {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

/* Custom styles */
.bg-gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-600;
}

.btn-primary {
  @apply bg-gradient-to-r from-blue-500 to-purple-600 text-white px-8 py-3 rounded-full hover:shadow-lg transition duration-300;
}

.card-hover {
  @apply transition-all duration-300 transform hover:scale-105 hover:shadow-xl;
}

.tag {
  @apply bg-gray-200 text-gray-700 px-2 py-1 rounded-full text-xs;
}